{
  "statements": 100,
  "branches": 100,
  "functions": 100,
  "lines": 100,
  "reporter": [ "text", "html" ],
  "all": true,
  "check-coverage": false,
  "report-dir": "./coverage",
  "cache": false,
  "exclude": [
    "coverage/",
    "test/"
  ]
}
